.about {
    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .locations {
        .location {
            width: 33%;
        }
    }

    header {
        color: var(--Accent);
    }
}

@media only screen and (max-width: 768px) {
    .about {
        .locations {
            flex-direction: column !important;

            .location {
                width: 100%;
            }
        }
    }
}
