.quality {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    padding: 20px;

    svg {
        font-size: 70px;
        margin-bottom: 20px;
    }

    h4, p{
        text-align: center;
    }
}
