@import "theme_font";
@import "theme_scroll";

:root {
    //Page
    --PageHPadding: 100px;
    --PageVPadding: 100px;
    --PageBottomBorder: 1px solid #eaeaea;
    --PageSectionMinInnerWidth: 1280px;

    //Badge
    --BadgeBorder: 1px solid #eaeaea;
    --BadgeBorderRadius: 10px;

    //Button
    --BtnPadding: 0 16px;
    --BtnBorderRadius: 30px;
    --BtnFontSize: 14px;
    --BtnActiveBgColor: black;
    --BtnActiveHoverBgColor: gray;
    --BtnActiveFontColor: white;
    --BtnActiveBorder: 1px solid transparent;
    --BtnOutlineBgColor: white;
    --BtnOutlineHoverBgColor: #aaaaaa;
    --BtnOutlineFontColor: black;
    --BtnOutlineBorder: 1px solid gray;
    --BtnSimpleBgColor: white;
    --BtnSimpleHoverBgColor: #aaaaaa;
    --BtnSimpleFontColor: black;
    --BtnSimpleBorder: 1px solid transparent;
    --BtnFontFamily: 'Inter Tight Variable';

    //Input
    --GInputPadding: 0 8px;
    --GInputHeight: 50px;
    --GInputBorder: 1px solid #eaeaea;
    --GInputBorderRadius: 6px;
    --GInputPlaceHolderColor: 6px;
    --GInputActiveColor: 6px;
    --GInputFocusColor: 6px;
    --GInputDisabledColor: 6px;
    --GInputFontFamily: 'Inter Tight Variable';

    --Accent: rgba(60, 28, 145, 0.9);
}

@media only screen and (max-width: 768px) {
    :root {
        --PageHPadding: 20px;
        --PageVPadding: 20px;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    padding: 0;
    margin: 0;
}
