@import "theme_font";
@import "theme_scroll";

:root {
    // Common Internal Variables
    --BorderRadius: 8px;
    --PlaceHolderColor: gray;
    --DisabledBgColor: lightgray;
    --DisabledFontColor: gray;
    --InputHeight: 34px;
    --InputFontSize: 14px;

    //Page
    --PageHPadding: 100px;
    --PageVPadding: 100px;
    --PageBottomBorder: 1px solid #eaeaea;
    --PageSectionMinInnerWidth: 1280px;

    //Badge
    --BadgeBorder: 1px solid #eaeaea;
    --BadgeBorderRadius: var(--BorderRadius);
    --BadgeBgColor: #F7F7F7;
    --BadgePadding: 8px 10px;
    --BadgeFontSize: 13px;
    --BadgeFontWeight: 500;

    //Button
    --BtnHeight: var(--InputHeight);
    --BtnPadding: 0 16px;
    --BtnBorderRadius: var(--BorderRadius);
    --BtnFontSize: 14px;
    --BtnActiveBgColor: black;
    --BtnActiveHoverBgColor: #5c5c5c;
    --BtnActiveFontColor: white;
    --BtnActiveBorder: 1px solid transparent;
    --BtnOutlineBgColor: white;
    --BtnOutlineHoverBgColor: #cacaca;
    --BtnOutlineFontColor: black;
    --BtnOutlineBorder: 1px solid gray;
    --BtnSimpleBgColor: white;
    --BtnSimpleHoverBgColor: #cacaca;
    --BtnSimpleFontColor: black;
    --BtnSimpleBorder: 1px solid transparent;
    --BtnFontFamily: 'Work Sans Variable';
    --BtnDisabledBgColor: var(--DisabledBgColor);
    --BtnDisabledColor: var(--DisabledFontColor);

    //Input
    --InputBorderRadius: var(--BorderRadius);
    --InputPlaceHolderColor: var(--PlaceHolderColor);
    --InputDisabledColor: var(--DisabledFontColor);
    --InputDisabledBgColor: var(--DisabledBgColor);
    --InputPadding: 0 24px;
    --InputBorder: 1px solid #bcbcbc;
    --InputFocusBorder: 1px solid #676767;
    --InputActiveColor: black;
    --InputFocusColor: black;
    --InputFontFamily: 'Inter Tight Variable';

    //Select
    --SelectHeight: var(--InputHeight);
    --SelectBgColor: white;
    --SelectFontSize: var(--InputFontSize);
    --SelectOptionBgColor: #eaeaea;
    --SelectOptionFontSize: 14px;
    --SelectOptionSelectedBgColor: #676767;

    //TextArea
    --TextAreaPadding: 8px;

    --Accent: rgba(60, 28, 145, 0.9);
}


//:root {
//    //Page
//    --PageHPadding: 100px;
//    --PageVPadding: 100px;
//    --PageBottomBorder: 1px solid #eaeaea;
//    --PageSectionMinInnerWidth: 1280px;
//
//    //Badge
//    --BadgeBorder: 1px solid #eaeaea;
//    --BadgeBorderRadius: 10px;
//
//    //Button
//    --BtnPadding: 0 16px;
//    --BtnBorderRadius: 30px;
//    --BtnFontSize: 14px;
//    --BtnActiveBgColor: black;
//    --BtnActiveHoverBgColor: gray;
//    --BtnActiveFontColor: white;
//    --BtnActiveBorder: 1px solid transparent;
//    --BtnOutlineBgColor: white;
//    --BtnOutlineHoverBgColor: #aaaaaa;
//    --BtnOutlineFontColor: black;
//    --BtnOutlineBorder: 1px solid gray;
//    --BtnSimpleBgColor: white;
//    --BtnSimpleHoverBgColor: #aaaaaa;
//    --BtnSimpleFontColor: black;
//    --BtnSimpleBorder: 1px solid transparent;
//    --BtnFontFamily: 'Inter Tight Variable';
//
//    //Input
//    --GInputPadding: 0 8px;
//    --GInputHeight: 50px;
//    --GInputBorder: 1px solid #eaeaea;
//    --GInputBorderRadius: 6px;
//    --GInputPlaceHolderColor: 6px;
//    --GInputActiveColor: 6px;
//    --GInputFocusColor: 6px;
//    --GInputDisabledColor: 6px;
//    --GInputFontFamily: 'Inter Tight Variable';
//
//    --Accent: rgba(60, 28, 145, 0.9);
//}

@media only screen and (max-width: 768px) {
    :root {
        --PageHPadding: 20px;
        --PageVPadding: 20px;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    padding: 0;
    margin: 0;
}
