.header {
    display: flex;
    justify-content: space-between;
    padding: 20px var(--PageHPadding);
    position: absolute;
    top: 0;
    background: transparent;
    z-index: 1;

    .headerInner {
        max-width: var(--PageSectionMinInnerWidth);

        .logo {
            font-size: 20px;
            color: white;
        }

        .nav {
            background: white;
            border-radius: 20px;
            padding: 12px 32px;

            p {
                cursor: pointer;
            }
        }

        @media only screen and (max-width: 700px) {
            .nav {
                display: none;
            }
        }
    }

    .actionIcon {
        border-radius: 50%;
        border: 1px solid gray;
        cursor: pointer;
    }
}
