.hero {
    //background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.8) 100%);
    //background-size: cover;
    //background: linear-gradient(to bottom, rgba(143, 143, 143, 0.1) 0%, rgba(0, 0, 0, 0.9) 100%);
    color: #f3f3f3;


    .heroVideo {
        height: 100vh;
        width: 100vw;
        position: fixed;
        z-index: -1;
        left: 0;
        top: 0;
    }


    .heroBanner {
        height: 100%;
        z-index: 1;
        position: relative;

        h1 {
            text-align: center;
            background-image: linear-gradient(to bottom right, #ffffff 45%, #a02cca 100%);
            color: transparent;
            background-clip: text;
            font-weight: 600;
        }

        .an {
            //animation: typing 2s steps(40, end),
            //blink-caret .75s step-end infinite;
            //border-right: 5px solid #a02cca;
            //white-space: nowrap;
            //margin: 0 auto;
            //overflow: hidden;
            text-align: center;
            //background-image: linear-gradient(to bottom right, #ffffff 45%, #a02cca 100%);
            //color: transparent;
            //background-clip: text;
            font-weight: 600;
            font-size: 60px;
            min-height: 72px;
        }

        .heroIcons {
            .storeIcons {
                justify-content: start;

                .storeImg {
                    width: 200px;
                    cursor: pointer;
                }
            }
        }
    }

    @media only screen and (max-width: 768px) {
        .heroBanner {
            gap: 50px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 50px;

            .heroIcons {
                flex-direction: column;
                width: 100%;

                .storeIcons {
                    justify-content: center;

                    .storeImg {
                        width: 50%;
                    }
                }
            }
        }
    }

    .socialMedia {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid white;
        cursor: pointer;
        transition: 0.3s;
    }

    .socialMedia:hover {
        opacity: 0.5;
        transition: 0.3s;
    }
}

@media only screen and (max-width: 768px) {
    .hero {

    }
}


/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: var(--Accent);
    }
}
